:root {
  --radius-sm: 3px;
  --radius: 4px;
  --radius-md: 5px;
  --radius-lg: 6px;
  --card-grid-height: 55rem;
}

.fit-content {
  width: fit-content;
}

.justify-self-center {
  justify-self: center; 
}

.align-content-center {
  align-content: center;
}

/* Position */
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}

.absolute-top-left {
  @include position(absolute, 0, 0, 0, 0);
}

.absolute-top-right {
  @include position(absolute, 0, inherit, 0, 0);
  right: 0;
}

.absolute-top-center {
  @include position(absolute, 0, 50%, 0, -50%);
}

.absolute-bottom-left {
  @include position(absolute, inherit, 0, 0, 0);
  bottom: 0;
}

.absolute-bottom-right {
  @include position(absolute, inherit, inherit, 0, 0);
  right: 0;
  bottom: 0;
}

.absolute-bottom-center {
  @include position(absolute, inherit, 50%, 0, -50%);
  bottom: 0;
}


.absolute-center-left {
  @include position(absolute, 50%, 0, -50%, 0);
}
.absolute-center-right {
  @include position(absolute, 50%, 0, -50%, 0);
  left: inherit;
  right: 0;
}

.absolute-center {
  @include position(absolute, 50%, 50%, -50%, -50%);
}

.absolute-center-y {
  @include position(absolute, 50%, 0, -50%, 0);
}

.absolute-center-x {
  @include position(absolute, 0, 50%, 0, -50%);
}

.back-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;

  img{
     height: 100%;
     object-fit: cover;
  }

}

.overflow-hidden,
html[data-modal="on"] {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}

.pointer-none {
  pointer-events: none !important;
}
.pointer-auto {
  pointer-events: auto !important;
}

/* Switcher */
.switcher-item {
  display: none;

  &-active {
    display: block;
  }
}

/* Lines */
.line-top {
  border-top: 1px solid currentColor;
}
.line-bottom {
  border-bottom: 1px solid currentColor;
}
.line-left {
  border-left: 1px solid currentColor;
}
.line-right {
  border-right: 1px solid currentColor;
}

.cursor {
  cursor: var(--cursor);
}

.sm-shadow {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.md-shadow {
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
.lg-shadow {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.iframe-responsive,
.video-responsive {
  width: 100%;
  height: calc((100vw - 4rem) * (9 / 16));
  max-height: calc(800px * 9 / 16);
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.debug {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  line-height: 20px;
  background: #000;
  color: green;
  padding: 2rem;
  margin: 2rem 0;
}

.object-fit-cover {
  object-fit: cover;
}

a,
.trans,
.link,
main,
footer,
#menu {
  transition: all 0.3s ease;
}

.back-cover,
.back-fix {
  background-position: center;
  background-size: cover;
}

.back-fix {
  background-attachment: fixed;
}

.link {
  border-bottom: solid 2px var(--color-2);
  color: var(--color-2);
}
.link:hover {
  opacity: 0.8;
  cursor: var(--cursor);
}

/* Border radius */
.radius-sm {
  border-radius: var(--radius-sm);
}
.radius {
  border-radius: var(--radius);
}
.radius-md {
  border-radius: var(--radius-md);
}
.radius-lg {
  border-radius: var(--radius-lg);
}
.rounded {
  border-radius: 100%;
}

.radius-top-left-sm {
  border-top-left-radius: var(--radius-sm);
}
.radius-top-right-sm {
  border-top-right-radius: var(--radius-sm);
}
.radius-bottom-left-sm {
  border-bottom-left-radius: var(--radius-sm);
}
.radius-bottom-right-sm {
  border-bottom-right-radius: var(--radius-sm);
}

.radius-top-left {
  border-top-left-radius: var(--radius);
}
.radius-top-right {
  border-top-right-radius: var(--radius);
}
.radius-bottom-left {
  border-bottom-left-radius: var(--radius);
}
.radius-bottom-right {
  border-bottom-right-radius: var(--radius);
}

.radius-top-left-md {
  border-top-left-radius: var(--radius-md);
}
.radius-top-right-md {
  border-top-right-radius: var(--radius-md);
}
.radius-bottom-left-md {
  border-bottom-left-radius: var(--radius-md);
}
.radius-bottom-right-md {
  border-bottom-right-radius: var(--radius-md);
}

.radius-top-left-lg {
  border-top-left-radius: var(--radius-lg);
}
.radius-top-right-lg {
  border-top-right-radius: var(--radius-lg);
}
.radius-bottom-left-lg {
  border-bottom-left-radius: var(--radius-lg);
}
.radius-bottom-right-lg {
  border-bottom-right-radius: var(--radius-lg);
}

.card-grid {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
}

.ps-mail:before {
  content: attr(data-mail);
}

.blind-list {
  list-style: none;
  padding-left: 0;
}

.nowrap {
  white-space: nowrap;
}

.underline:hover {
  text-decoration: underline;
}
.underline-text {
  text-decoration: underline;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loader {
  display: none;
  position: absolute;
  left: 0;
  top: -5rem;
  width: 100%;
  height: 100%;
  background-image: url(img/loader.gif);
  background-size: 4.3rem;
  background-position: left top;
  background-repeat: no-repeat;
}

.scroller {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
}

/* Accordion */

.accordion {
  .a-container {
    .a-btn {
      cursor: var(--cursor);
    }

    .a-panel {
      width: 100%;
      color: #000;
      opacity: 0;
      height: auto;
      max-height: 0;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }

    &.active .a-panel {
      opacity: 1;
      height: auto;
      padding: 0 0 2rem 0;
      max-height: 500px;
    }
  }
}

/* Z index */
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-60 {
  z-index: 60;
}
.z-70 {
  z-index: 70;
}
.z-80 {
  z-index: 80;
}
.z-90 {
  z-index: 90;
}
.z-100 {
  z-index: 100;
}
.z-999 {
  z-index: 999;
}

/* Cursor */
.brand,
.btn-modal,
.pointer {
  cursor: var(--cursor);
}

/* Go Up */
#go-up {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: var(--container-gap);
  bottom: 3rem;
  background: var(--color-1);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: var(--cursor);
  transform: translateY(200%);

  i,
  span {
    color: #fff;
  }
}

body:not([data-scroll="top"]) #go-up {
  transform: translateY(0);
}

.dark-mode {
  filter: invert(100%) hue-rotate(180deg);

  .no-dark {
    filter: invert(100%) hue-rotate(180deg);
  }
}

.overlay {
  position: fixed;
  webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #e8f5ff;
  z-index: -1;
  opacity: 0;
  pointer-events:none;
  transform: translateY(100%);
  transition: all 0.5s ease;
  will-change: transform;
}

.overlay[data-flex="on"] {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(0);
  opacity:1;
  pointer-events:auto;
  z-index: 99999;
}

.btn-close {
  position: absolute !important;
  width: 6rem;
  height: 6rem;
  right: var(--container-gap);
  top: 3rem;
  cursor: pointer;
  transform: rotate(45deg) !important;
  padding: 0;
}

.btn-close .line-h {
    width: 100%;
    height: 3px;
}
.btn-close .line-v {
    width: 3px;
    height: 100%;
}

.btn-close .line-v, .btn-close .line-h {
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: var(--color-1);
}

/* Gradient */
.overlay:before,
.gradient-top:after,
.gradient-bottom:after,
.multiply:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.overlay:before,
.gradient-top:after,
.gradient-bottom:after {
  opacity: 0.5;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.gradient-top:before {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.gradient-bottom:after {
  top: inherit;
  bottom: 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.multiply:before {
  background-color: currentColor;
  mix-blend-mode: lighten;
}

/* ////////////////////////// SCROLLBARS /////////////////////////// */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-2);
}

/* Form validation */

.has-success .field-wrap {
  border-bottom: 2px solid #168b3f;
}

.has-danger .field-wrap {
  border-bottom: 2px solid #dc1d34;
}

.d-sm-none{
  display:none!important;
}

a[href="#go-down"] img {
    transform: translateX(50%);
}

/*///////////////////////////////////////////////////////////*/
/*///////////////////////// 375px ///////////////////////////*/
/*///////////////////////////////////////////////////////////*/

@media( min-width:375px) {


} 

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 768px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 768px) {
  .d-sm-none{
    display:block!important;
  }

}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1064px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (min-width: 1064px) {
  #go-up {
    left: inherit;
    right: var(--container-gap);
  }
}
