/* Height */

@each $height in $sizes {
	.mh-#{$height}v {
		min-height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-#{$height}v {
		height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-#{$height} {
		height: $height * 1%
	}
}

