/* Height LG */
@each $height in $sizes {
	.mh-lg-#{$height}v {
		min-height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-lg-#{$height}v {
		height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-lg-#{$height} {
		height: $height * 1%
	}
}