/* Margin Y */
@each $step in $steps {
	.my-lg-#{$step} {
		margin-top: #{$step}rem !important;
		margin-bottom: #{$step}rem !important
	}
}

/* Margin X */
// Este margin no esta creado porque prácticamente no se utiliza
// Si tu quieres puedes crearlo

/* Margin Top */
@each $step in $steps {
	.mt-lg-#{$step} {
		margin-top: #{$step}rem !important
	}
}

/* Margin Bottom */
@each $step in $steps {
	.mb-lg-#{$step} {
		margin-bottom: #{$step}rem !important
	}
}

/* Margin Left */
@each $step in $steps {
	.ml-lg-#{$step} {
		margin-left: #{$step}rem !important
	}
}

/* Margin Right */
@each $step in $steps {
	.mr-lg-#{$step} {
		margin-right: #{$step}rem !important
	}
}

.mx-lg-auto{
	margin-left: auto;
	margin-right: auto;
}