/* Height MD */

@each $height in $sizes {
	.mh-md-#{$height}v {
		min-height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-md-#{$height}v {
		height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-md-#{$height} {
		height: $height * 1%
	}
}