/* Padding */
@each $step in $steps {
	.p-#{$step} {
		padding: #{$step}rem #{$step}rem #{$step}rem #{$step}rem !important;
	}
}

/* Padding Y */
@each $step in $steps {
	.py-#{$step} {
		padding-top: #{$step}rem !important;
		padding-bottom: #{$step}rem !important
	}
}

/* Padding X */
@each $step in $steps {
	.px-#{$step} {
		padding-left: #{$step}rem !important;
		padding-right: #{$step}rem !important
	}
}

/* Padding Top */
@each $step in $steps {
	.pt-#{$step} {
		padding-top: #{$step}rem !important;
	}
}

/* Padding Bottom */
@each $step in $steps {
	.pb-#{$step} {
		padding-bottom: #{$step}rem !important;
	}
}

/* Padding Left */
@each $step in $steps {
	.pl-#{$step} {
		padding-left: #{$step}rem !important;
	}
}

/* Padding Right */
@each $step in $steps {
	.pr-#{$step} {
		padding-right: #{$step}rem !important;
	}
}