/* Height SM */

@each $height in $sizes {
	.mh-sm-#{$height}v {
		min-height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-sm-#{$height}v {
		height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-sm-#{$height} {
		height: $height * 1%
	}
}