/* Hide XL */
.xl-hide {
	display: none !important
}

.xl-inline-flex {
	display: inline-flex !important
}

/* Block & Inline */
.xl-block {
	display: block !important
}

.xl-inline-block {
	display: inline-block !important
}