/* Gap XL */
.gap-xl-x {
	padding-left: var(--column-gap);
	padding-right: var(--column-gap)
}

.gap-xl-y {
	padding-top: var(--column-gap);
	padding-bottom: var(--column-gap)
}

.gap-xl-left {
	padding-left: var(--column-gap)
}

.gap-xl-right {
	padding-right: var(--column-gap)
}

.gap-xl-top {
	padding-top: var(--column-gap)
}

.gap-xl-bottom {
	padding-bottom: var(--column-gap);
}

/* Container gap */
.container-gap-xl-x {
	padding-left: var(--container-gap);
	padding-right: var(--container-gap)
}

.container-gap-xl-y {
	padding-top: var(--container-gap);
	padding-bottom: var(--container-gap)
}

.container-gap-xl-left {
	padding-left: var(--container-gap)
}

.container-gap-xl-right {
	padding-right: var(--container-gap)
}

.container-gap-xl-top {
	padding-top: var(--container-gap)
}

.container-gap-xl-bottom {
	padding-bottom: var(--container-gap);
}