/* Height XL */

@each $height in $sizes {
	.mh-xl-#{$height}v {
		min-height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-xl-#{$height}v {
		height: #{$height}vh
	}
}

@each $height in $sizes {
	.h-xl-#{$height} {
		height: $height * 1%
	}
}